.Main-container {
  .picks-icon:before {
    content: "filter_5";
  }

  .standings-icon:before {
    content: "format_list_numbered";
  }

  .account-icon:before {
    content: "account_circle";
  }

  .Picks-container, .Matchup-container {
    .pick-5-icon:before {
      content: "looks_5";
    }
    .pick-4-icon:before {
      content: "looks_4";
    }
    .pick-3-icon:before {
      content: "looks_3";
    }
    .pick-2-icon:before {
      content: "looks_two";
    }
    .pick-1-icon:before {
      content: "looks_one";
    }
  }
}