.Picks-container {
  .submit-picks-icon:before {
    content: "done_all";
  }
  .cancel-picks-icon:before {
    content: "cancel";
  }
  .dismiss-panel-icon:before {
    content: "exit_to_app";
  }
  .pick-action {
    &:after {
      position: absolute;
      top: 16px;
      right: 30px;
      font-size: 13px;
      color: #777;
    }
    &.clear {
      &:after {
        content: "CLEAR";
      }
    }
    &.empty {
      &:after {
        content: "EMPTY!";
      }
    }
    &.replace {
      &:after {
        content: "REPLACE";
      }
    }
    &.choose {
      &:after {
        content: "CHOOSE";
      }
    }
  }
  .pick-actions {}
  .pick-details {
    .pick-team {
      text-align: center;
      img {
        height: 30px;
        width: 30px;
        position: relative;
        top: 10px;
        margin-right: 10px;
      }
      .team {
        display: inline-block;
        font-size: 16px;
      }
    }
  }
}